@use 'global' as *;

.top-features{
    margin-top: 140px;

    .top-text{
        text-align: center;
        padding: 5%;

        h1 {
            color: $dark-green-title;
            margin: 20px 0;
        }

        p {
            color: black;
        }
    }

    .top-cards {

        img {
            border-radius: 10px;
        }

        .card {
            border-style: none;
            background-color: #fffbf7;
        }

    }

}