@use 'global' as *;

.top-features{
    margin-top: 140px;

    .top-text{
        text-align: center;
        padding: 5%;

        h1 {
            color: $dark-green-title;
            margin: 20px 0;
        }

        p {
            color: black;
        }
    }

    .top-cards {

        .card {
            border-style: none;
            background-color: #fffbf7;

            
            img {
                border-radius: 10px;
            }

            img:hover {
                transform: scale(0.95);
            }

            .card-body {

                h4 {
                    text-shadow: #025157 1px 1px 2px;
                    transition: color .3s ease-in-out, font-size .2s ease-in;

                    &:hover {
                        color: $light-green;
                        font-size: 2rem;
                    }

                }

            }

        }

    }

}