@use 'global' as *;

.blog {
  background-color: #ffffff;
  max-width: unset;
  padding: 5% 10%;

  .title {
    @extend %base-title;
  }

  .process-list {
    margin-top: 40px;
    margin-bottom: 36px;

    .process {
      margin-bottom: 25px;

      &>div {
        &>h3 {
          color: $dark-green-title;
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 500;
        }

        &>p {
          color: $dark-green-text;
          margin: 0;
        }
      }

      .process-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;

        img {
          height: 100%;
        }
      }

    }
  }

  button {
    height: auto;
    border-radius: 8px;
    padding: 12px;
    width: 180px;
    margin-bottom: 15px;
  }

  .card-title {
    font-size: 22px;
    color: $gray;
  }

  .metadata {
    font-size: 16px;

    .category {
      color: $light-green;
    }
  }

  .card-text {
    color: $gray;
    font-size: 14px;

    .read-more {
      text-decoration: underline;
    }
  }

  .author {
    img {
      border-radius: 50%;
      width: 35px;
      height: 35px;
    }

    p {
      margin-left: 5px;
      margin-top: 10px;
      font-weight: 500;
      font-size: 12px;
      color: $gray;
    }
  }
}

.try-it {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $superlight-green;
  padding:  5% 10%;

  * {
    margin: 10px 0;
  }

  input {
    border-radius: 5px;
    border-style: none;
    height: 2.5rem;
  }

  button {
    height: 2.5rem;
    background-color: $dark-green-title;
    color: $white;
    border-style: none;
    border-radius: 5px;
  }

  p {
    color: $white;
    font-size: 1rem;
    text-align: center;
  }

}

.try-free {
  padding: 5% 10%;

  .content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5%;
    border-radius: 10px;
    background-color: $dark-green-title;

    .try-text {
      margin: 10%;

      h3 {
        color: $white;
      }

      p {
        font-size: 1rem;
        color: white;

        a {
          text-decoration: none;
          color: $light-green;
        }

      }

    }

    .try-form {
      margin: 10%;

      & > form {

        margin-bottom: 20px;

        & > input {
          border-radius: 5px;
          border-style: none;
          height: 2.5rem;
        }

        & > button {
          height: 2.5rem;
          background-color: $light-green;
          color: $white;
          border-style: none;
          border-radius: 5px;
        }
      }

      & > p {
        color: $try-gray;
        font-size: 1rem;
        font-weight: 100;
      }

    }

  }

}